<a name="comment_<%= comment.id%>"></a>
<p>
  <strong>Author:</strong>
  <%= comment.user.email %>
</p>
 
<p>
  <strong>Date:</strong>
  <%= comment.created_at %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<% if user_signed_in? %>
	<p>
	  <%= link_to 'Delete Comment', [comment.article, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' }, :class => "btn btn-danger right_text" %>
	</p>
<% end %>