<a name="comment_<%= comment.id%>"></a>

<div class="row">
  <div class="col-md-9 text-justify">
    <p>
      <%= comment.body %>
    </p>
    <p>
      <strong>Author:</strong>
      <%= comment.user.name %>
    </p>
    <p>
      <strong>Date:</strong>
      <%= comment.created_at %>
    </p>
    <% if user_signed_in? %>
      <%= link_to 'Delete Comment', [comment.article, comment],
                   method: :delete,
                   data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
    <% end %>
  </div>

  <div class="col-md-3 text-center">
    <%= image_tag Gravatar.new(comment.user.email).image_url(s: 100) %>
  </div>
</div>