<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <h3 class="text-center">Choose An Article Clicking On The Title</h3>
      <div class="panel-body">
         
        <% @articles.each do |article| %>         
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title line_in_block"><%=link_to article.title, article_path(article)%></h1>
              <span class="text-right right_text" ><%= article.created_at %></span>
            </div>
            <div class="panel-body text-justify">
              <%= article.text %><hr>
              <p class="text-right">
                <%= article.comments.count %> Comentarios |    
                <%= link_to edit_article_path(article) do %>
                  <span class="glyphicon glyphicon-edit"></span>Edit | 
                <% end %>
                <%= link_to article_path(article), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-remove"></span>Delete
                <% end %>
              </p>
            </div> <!-- Close panel-body -->
          </div> <!-- Close panel panel-default -->
        <% end %>

      </div> <!-- Close panel-body -->
    </div> <!-- Close panel panel-default -->
  </div> <!-- Close col 8-->
  
  <div class="col-md-4">
    <div class="panel panel-default">
      <h3 class="text-center">Last 5 Articles On The Blog</h3>
      <div class="panel-body">
        <% @lastfive.each do |lastfive| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <h1 class="panel-title"><%=link_to lastfive.title, article_path(lastfive)%></h1>
              <p class="right_text"><%= lastfive.created_at %></p>
            </div> <!-- Close panel-body -->
          </div> <!-- Close panel panel-default -->
        <% end %>
      </div> <!-- Close panel panel-default -->
    </div> <!-- Close panel-body -->
  </div> <!-- Close col 4-->
</div> <!-- Close row -->