<!DOCTYPE html>
<html>
<head>
  <title>Blog Rails App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="container-fluid">
		<div class="page-header">
			<h1 style= "display: inline-block">Blog Rails APP <small>Manage your articles</small></h1>
			<%= link_to 'View All Articles', articles_path, :class => "button btn btn-lg btn-info right_text boton" %>
			<%= link_to 'New Article' , new_article_path, :class => "button btn btn-lg btn-success right_text boton" %>
		</div>
	</div>

	<div class="container-fluid">
		<%= yield %>
	</div>
</body>
</html>
